In [12]:
numeros = [1,2,3]

for numero in numeros:
    print(numero)

1
2
3

In [15]:
animais = [1,2,3]

In [17]:
animais = ["cachorro", "gato", 12345, 6.5]

print(animais)

['cachorro', 'gato', 12345, 6.5]

In [18]:
animais[0] #para trazer um elemento inicial

'cachorro'

In [19]:
animais.remove("gato")

In [20]:
len(animais)

3

In [21]:
"gato" in animais #para checar se existe palavra em animais

False

In [23]:
lista = [500, 30, 300, 80, 10]


for listas in lista:
    print(listas)

500
30
300
80
10

In [24]:
max(lista)

500

In [25]:
min(lista)

10

In [30]:
animais.append("leao")
print(animais)

['cachorro', 12345, 6.5, 'leao', 'leao', 'gorila', 'cachorro', 'gorila', 'cachorro', 'leao']

In [32]:
animais.extend(["gorila", "cachorro"])

print(animais)

for animal in animais:
    print(animal)

['cachorro', 12345, 6.5, 'leao', 'leao', 'gorila', 'cachorro', 'gorila', 'cachorro', 'leao', 'gorila', 'cachorro', 'gorila', 'cachorro']
cachorro
12345
6.5
leao
leao
gorila
cachorro
gorila
cachorro
leao
gorila
cachorro
gorila
cachorro

In [9]:
import pandas as pd

In [18]:
dados = pd.read_excel("vendas.xlsx")

In [12]:
dados.head()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
1,PED2246,2020-01-01,Loja 6,Florianópolis,Santa Catarina,Sul,500ml,Consumo no local,11,Débito,2020-01
2,PED3876,2020-01-01,Loja 3,Rio de Janeiro,Rio de Janeiro,Sudeste,300ml,Delivery,7,Crédito,2020-01
3,PED4352,2020-01-01,Loja 1,Fortaleza,Ceará,Nordeste,1000ml,Consumo no local,7,Débito,2020-01
4,PED8633,2020-01-01,Loja 5,São Paulo,São Paulo,Sudeste,200ml,Delivery,9,Crédito,2020-01

In [21]:
dados_csv = pd.read_csv("produtos.csv")

In [22]:
dados_csv.head()

,codigo,marca,tipo,categoria,preco_unitario,custo,obs
0,MOLO000251,Logitech,Mouse,1,25.95,6.5,NaN
1,MOLO000192,Logitech,Mouse,2,19.95,5.0,NaN
2,CAHA000251,Hashtag,Camisa,1,25.00,11.0,NaN
3,CAHA000252,Hashtag,Camisa,2,25.00,11.0,Conferir estoque
4,MOMU000111,Multilaser,Mouse,1,11.99,3.4,NaN

In [ ]:
#para renomear colunas dados_csv(columns={""}
dados_csv(columns={"Codigo":"Cod", "Marca":"Marc", "Tipo":"TP"}

In [23]:
dados.describe()

                                data         preco
count                          70000  70000.000000
mean   2021-10-01 20:36:10.697142784      8.355200
min              2020-01-01 00:00:00      5.000000
25%              2021-01-01 00:00:00      7.000000
50%              2022-01-02 00:00:00      7.000000
75%              2022-07-02 00:00:00     11.000000
max              2022-12-31 00:00:00     13.000000
std                              NaN      2.653061

In [25]:
dados["cidade"].unique()

array(['Santos', 'Florianópolis', 'Rio de Janeiro', 'Fortaleza',
       'São Paulo', 'Niterói'], dtype=object)

In [41]:
Santos = dados.loc[dados["cidade"] == "Santos"]
Santos.head()

,id_pedido,data,loja,cidade,estado,regiao,tamanho,local_consumo,preco,forma_pagamento,ano_mes
0,PED1994,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Dinheiro,2020-01
5,PED10668,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,500ml,Delivery,7,Crédito,2020-01
6,PED11326,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Delivery,11,Dinheiro,2020-01
7,PED11327,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,200ml,Delivery,5,Pix,2020-01
8,PED11506,2020-01-01,Loja 4,Santos,São Paulo,Sudeste,300ml,Consumo no local,5,Débito,2020-01

In [42]:
Santos["cidade"].unique()

array(['Santos'], dtype=object)

In [44]:
dados.groupby("cidade")["forma_pagamento"].unique()

cidade
Florianópolis     [Débito, Pix, Crédito, Dinheiro]
Fortaleza         [Débito, Crédito, Pix, Dinheiro]
Niterói           [Débito, Pix, Dinheiro, Crédito]
Rio de Janeiro    [Crédito, Débito, Dinheiro, Pix]
Santos            [Dinheiro, Crédito, Pix, Débito]
São Paulo         [Crédito, Pix, Dinheiro, Débito]
Name: forma_pagamento, dtype: object